@import './object/object.scss';
@import './object/effect.scss';
@import './reset.scss';
@import './component/header.scss';
@import 'component/content.scss';
@import 'component/footer.scss';
@import 'component/loginForm.scss';
@import 'component/signupform.scss';



//dùng chung
.container {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1400px;
}
.fit{
    @include sizeOption($full-height,$full-width);
    @include row_center;
}

a {
    all: unset;
}


